<div>
  <div class="container">
    <div class="row">
      <h1 class="text-center my-5">ALBUMES</h1>
      <div class="col-12 col-md-3 mt-5 p-4" *ngFor="let respuestaDeServicios of respuestaDeServicios ">
        <img src={{respuestaDeServicios.imagenes}} alt="foto" class="img-fluid w-100">
        <h1 class="text-center">{{respuestaDeServicios.nombre}}</h1>
        <h2 class="text-center">Numero de personas: {{respuestaDeServicios.numeroPersonas}}</h2>
        <h3 class="text-center">Valor noche: {{respuestaDeServicios.valorNoche}}</h3>
      </div>
    </div>
  </div>
</div>
