<app-menu></app-menu>

<div class="fondoHistoria">
  
  <ul class="listaA my-5">
    <li>Gorillaz es una banda virtual inglesa creada en 1998 por Damon Albarn y Jamie Hewlett.</li> 
    <li> La banda está compuesta por cuatro miembros ficticios: 2-D, Noodle, Murdoc Niccals y Russel Hobbs.</li>
    <li>Es una de las grandes bandas de rock alternativo, trip rock, art rock y música electrónica.</li> <br>
  
    <li> La banda lleva el nombre de Gorillaz, debido a que los creadores nacieron en 1968, año que es regido por el mono en el calendario chino.</li> 
    <li>Gorillaz entró en el libro de Record Guiness por ser la ‘banda virtual más exitosa’.</li>
    <li>El primer tema que grabaron fue "Ghost Train"</li> <br>
  
    <li>El primer lanzamiento de la banda fue el EP Tomorrow Comes Today, lanzado el 27 de noviembre de 2000. Por otro lado, el primer sencillo de la banda fue "Clint Eastwood", el cual fue un éxito mundial y fue lanzado el 5 de marzo de 2001.</li>
    <li> La banda ha ganado premios en los Grammy Awards, MTV Video Music Awards, NME Award y MTV Europe Music Awards.</li>
    
    <li>La idea de crear la banda surgió mientras Hewlett y Albarn veían la MTV. En una entrevista se comentó: "Si tú miras la MTV demasiado tiempo terminas diciendo «¿qué demonios? Aquí no hay nada sustancial».</li> 
  </ul>

</div>

  <app-footer></app-footer>