.banner
{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/saltiendatcc.appspot.com/o/g2.png?alt=media&token=6322df29-2399-40fc-b44d-4b377694c0aa');
  background-position: top center;
  background-size: cover;
  padding: 5% 30% 35% 20%;
  height: 100vh;
}
